{% extends 'base.html' %}
{% block title %}
<title>Alexander Soto | Acerca</title>
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg  navbar-light ">
  <a class="navbar-brand me-5" href="{% url 'home' %}" >
    <img src="../static/images/3426526.jpg" alt="Logo" width="100" height="100" class="d-inline-block align-text-center m-2">
    Alexander Soto
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      
      <ul class="navbar-nav justify-content-left">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Acerca de mi<span class="sr-only">(current)</span></a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Diseño web</a>
        </li>
      </ul>
    </div> 
</nav>

<div class="cont_about_1">
    <div class="cont_about_2">
    <div class="cont_img_1">
    <img class="foto" src="../static/images/IMG_3081.jpg" >
    </div>
    <div class="cont_about_2_text">
        <h1 class="title_5" >¿Quien soy?</h1>
        <p class="subtitle_4">Soy un desarrollador de software, apasionado por la 
        programación, soy una persona que constantemente esta aprendiendo nuevas 
        habilidades, con la capacidad de participar activamente en un equipo de trabajo, 
        valorando la comunicación, la proactividad, cooperación y abordando los retos que se 
        presenten para brindar una rápida y correcta solución a estos, manteniendo siempre la 
        calidad y las buenas prácticas de trabajo. Mis metas profesionales a corto plazo son 
        seguir mejorando mis soft skills en un buen ambiente de trabajo además de seguir 
        adquiriendo habilidades en el área del software, hardware e idioma inglés, actualmente 
        poseo altos conocimientos en ensamble y mantenimiento de hardware, ademas del manejo de 
        diferentes lenguajes de programacion
        y familiarizado con otros y estoy en el 
        proceso de certificación profesional de IBM DevOps and Software Engineering. </p>   
        <a href="../static/documents/CV.pdf" class="resumen">mi resumen (Pdf 199Kb)</a> 
    </div>
    
</div>
</div>


<div class="end">
    <div class="container_4">
        <a class="logo_end" href="">
          <img src="../static/images/layers.png" alt="" width="120" height="120">
        </a>
        <div class="frase">
          <div class="container_5">
            <h1 class="text_end">"El arte desafía a la tecnología y la tecnología inspira al arte"</h1>
          </div >
        </div>
          <div class="logos">
          <p class="field">
            <a class="linkedin" href="https://www.linkedin.com/in/johann-soto-hernandez-bb6182208/" target="_blank">
                <img  src="../static/images/linkedin.png" width="50" height="50"  alt="">
            </a>
            <a class="github" href="https://github.com/johannsoto" target="_blank">
                <img src="../static/images/github.png" width="50" height="50" alt="">
            </a>
            <a class="mail" href="mailto:johann.96@hotmail.com" target="_blank">
                <img src="../static/images/mail.png" width="50" height="50" alt="">
            </a>
        </div>
        </p>
        </div>
        <div class="copyright">
          <p>Desarrollado por © Alexander Soto 2023</p>
        </div>
        <div class="made_with">
          <p>Hecho Con Bootstrap-Django</p>
        </div> 
</div>
  
    
{% endblock content %}