{% extends 'base.html' %}
{% block title %}
<title>Alexander Soto | Contacto</title>
{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg  navbar-light ">
  <a class="navbar-brand me-5" href="{% url 'home' %}" >
    <img src="../static/images/3426526.jpg" alt="Logo" width="100" height="100" class="d-inline-block align-text-center m-2">
    Alexander Soto
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      
      <ul class="navbar-nav justify-content-left">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}">Acerca de mi<span class="sr-only">(current)</span></a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Diseño web</a>
        </li>
      </ul>
    </div> 
</nav>



    <section class="contacto_1">
        <div class="container">
            <div class="column_4">
                <div class="column_7 is-8">
                    <h1 class="title_4">Gracias por contactarme. ¿En qué puedo ayudarte hoy?</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="cont">
    <div class="container_6">
      <form class="form" method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{field.errors}}
          <label for="">{{field.label_tag}}</label>
          <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="reset" class="btn_1 btn-secundary">Reset</button>
        <button type="sumit" class="btn_2 ">Enviar</button>
      </form>
    </div>
  </section>


<div class="end">
      <div class="container_4">
          <a class="logo_end" href="">
            <img src="../static/images/layers.png" alt="" width="120" height="120">
          </a>
          <div class="frase">
            <div class="container_5">
              <h1 class="text_end">"El arte desafía a la tecnología y la tecnología inspira al arte"</h1>
            </div >
          </div>
            <div class="logos">
            <p class="field">
              <a class="linkedin" href="https://www.linkedin.com/in/johann-soto-hernandez-bb6182208/" target="_blank">
                  <img  src="../static/images/linkedin.png" width="50" height="50"  alt="">
              </a>
              <a class="github" href="https://github.com/johannsoto" target="_blank">
                  <img src="../static/images/github.png" width="50" height="50" alt="">
              </a>
              <a class="mail" href="mailto:johann.96@hotmail.com" target="_blank">
                  <img src="../static/images/mail.png" width="50" height="50" alt="">
              </a>
          </div>
          </p>
          </div>
          <div class="copyright">
            <p>Desarrollado por © Alexander Soto 2023</p>
          </div>
          <div class="made_with">
            <p>Hecho Con Bootstrap-Django</p>
          </div> 
</div>
    
      
{% endblock content %}